body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }


.social-links {
    list-style: none;
    padding: 0px;
    margin: 20px auto;
}

.social-links li {
    display: inline;
    margin: 10px;
}

.social-links img {
    width: 20px;
    height: 20px;
}


/* PUBLICATIONS */
#publications li {
    list-style: none;
}

#publications > li:not(:last-child) {
    margin-bottom: 2.5em;
}

#publications .title {
    font-weight: bold;
    /* font-size: 18px; */
}

#publications author-me{
    /* font-weight: bolder; */
    text-decoration: underline dotted;
}

/* Publication links */
#publications .links li {
    padding: .1em 0px;
}

.absBox, .bibBox {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.absBox {
    text-align: justify;
}

.absBox p {
    margin-bottom: 0;
}

.bibBox {
    position: relative;
}

.bibBox pre {
    margin-bottom: 0;
}

.copyButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}


/* PRESENTATIONS */
#presentations li {
    list-style: none;
}

#presentations li:not(:last-child) {
    margin-bottom: 2.5em;
}

#presentations .title {
    font-weight: bold;
    /* font-size: 18px; */
}


.accordion-button {
    color: #000;
    background-color: #fff;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    border-width: 0;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
}

.accordion-button:focus, .accordion-button:not(.focus) {
    border-color: #FFF;
    outline: 0;
    box-shadow: 0 0 0 0 #FFF;
}